* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  background: linear-gradient(
    to right,
    #ada996,
    #dbdbdb,
    #eaeaea,
    #dbdbdb,
    #f2f2f2,
    #ada996
  );
}

.NBar {
  height: 17.8vh;
  margin-top: 10vh;
  background-color: #f6f7f6;
  color: #48c6e9;
  opacity: 0.77;
}

.logo-img {
  position: relative;
  margin-top: -4.25em;
  margin-left: -1.29em;
  float: left;
  width: 20vw;
  height: 36vh;
}

.NBar > a {
  float: left;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 600;
  font-size: 1.45em;
  text-decoration: none;
  text-align: center;
  color: #48c6e9;
  position: relative;
  top: 2.5em;
  left: 2.5em;
  padding: 0em 2em;
}

/* Media Query */

@media (max-width: 768px) {
  .NBar {
    position: static;
    margin-top: 0;
    background-color: #f6f7f6;
    color: #48c6e9;
    opacity: 0.77;
    width: 100%;
    height: 15em;
  }

  .logo-img {
    position: relative;
    margin-top: -2em;
    margin-left: -1em;
    float: left;
    width: 17em;
    height: 22em;
  }

  .NBar > a {
    float: none;
    display: block;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: 600;
    font-size: 1em;
    text-decoration: none;
    text-align: center;
    color: #48c6e9;
    position: relative;
    top: 2em;
    left: -1em;
    padding-top: 1em;
  }
  
}
